/* not_found.css */
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
}

.not-found-container {
  text-align: center;
}

.not-found-content {
  max-width: 400px; /* Adjust as needed */
}

.not-found-image {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
