#navbar {
  position: sticky;
  top: 0;
  left: 24%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100vw;
  background-color: rgba(51, 51, 51, 0.90);
  backdrop-filter: blur(10px); 
  padding: 2rem;
  z-index: 100;
  margin-bottom: 3rem;
}

#navbar > a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}

@media (max-width: 767px) {
  #navbar {
    left: -5%;
    height: 2rem;
    padding: 1rem;
    font-size: 0.9rem;
  }

  #navbar > a{
    font-size: 1rem;
letter-spacing: normal;
font-weight: 600;
  }
}
