#navbar {
  position: fixed;
  top: 2rem;
  left: 24%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 50vw;
  background-color: #333333;
  border-radius: 10rem;
  padding: 2rem;
}

#navbar > a {
  text-decoration: none;
  color: white;
}

@media (max-width: 767px) {
  #navbar {
    left: 10%;
    width: 70vw;
    height: 2rem;
    padding: 1rem;
    z-index: 100; 
    font-size: 0.9rem;
  }
}
