.card-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  position: relative;
  top: 5rem;
  left: 1rem
}

.card {
  max-width: 300px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: border 0.7s ease;
  border: 1px solid transparent;
  padding: 0.5rem
}

.card:hover:not(:focus-within) {
  border: 1px solid rgba(192, 192, 192, 0.3); /* silver with a reduced opacity */
}

.card-content .action:hover {
  transform: none; 
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-title {
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #888;
}

.card-description {
  margin-bottom: 10px;
  color: #555;
}

.card-date {
  margin-bottom: 5px;
  color: #777;
}

.card-price {
  font-weight: bold;
  color: #4285f4;
}

#date-price{
  display: flex;
  justify-content: space-between;
}

.action{
  background-color: #4285f4;
  border-radius: 2rem;
  text-align: center;
  color: black;
  padding: 0.6rem;
  transition: background-color 0.3s ease;
  width: 17.5rem
}

.action:hover{
  background-color: #015bbb;
}

@media (max-width: 767px) {
  .card-list-container {

    top: 20rem; /* Example adjustment for top positioning */
    left: 0;   /* Example adjustment for left positioning */
  }
}