.card-list-container {
  display: grid;
  grid-template-columns: repeat(3, 25rem);
  gap: 1rem;
  padding: 1rem;
  position: relative;
  justify-content: center; /* Center the content horizontally */
  margin: 0 auto; /* Center the grid itself */
}

@media (max-width: 767px) {
  .card-list-container {
    grid-template-columns: 100%; /* 1 column on small screens */
    justify-items: center;
    padding: 0.5rem; /* Adjust padding for small screens */
  }
}
